@import "./reset.scss";
@import "./variable.scss";
@import "./mixin.scss";

html, body{
  width: 100%;
  height: 100%;
  overflow: hidden; // line7,8 加上之后无法滚动
  touch-action: none; // 这个是禁用系统对触摸的响应, 这可以部分解决IScroll拖拽卡顿问题
  /*从 line7, 8, 9 可以看出
    1. 多个原因都能导致无法滚动
    2. 为了更好的滚动, 可能要禁掉原有的滚动
   */
}
body{
  @include font_size($font_medium);
  //font-size: 50px;
  font-family: Helvetica,sans-serif,STHeiTi;
}
img{
  vertical-align: bottom;
}
