@import "./variable.scss";
/*根据dpr计算font-size*/
@mixin font_dpr($font-size){
  font-size: round($font-size);
  [data-dpr="2"] & { font-size: $font-size * 2;}
  [data-dpr="3"] & { font-size: $font-size * 3;}
}
/*通过该函数设置字体大小，后期方便统一管理；*/
@mixin font_size($size){ // 这里 font_size 是下划线, 妈欸列文虎克
  @include font_dpr($size); // 所以封装多这一个函数纯就是为了用的时候相对符合习惯hhh
}
// 不换行
@mixin no-wrap(){
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
// 限制行数
@mixin clamp($row){
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:$row;
}

// 根据属性选择器来设置背景颜色
@mixin bg_color(){ // 不知道这里咋代码里会没参, 现在有了 美汁汁
  background: $bgc-theme;
  [data-theme=theme1] & { // 如果标签属性 data-theme (用 setAttribute 自定义的)取值为 theme1, 就更换背景色为指定色
    background: $bgc-theme1;
  }
  [data-theme=theme2] & {
    background: $bgc-theme2;
  }
}
@mixin bg_sub_color(){
  background: $bgc-sub-theme;
  [data-theme=theme1] & {
    background: $bgc-sub-theme1;
  }
  [data-theme=theme2] & {
    background: $bgc-sub-theme2;
  }
}

@mixin font_color(){
  color: $font-color-theme;
  [data-theme=theme1] & {
    color: $font-color-theme1;
  }
  [data-theme=theme2] & {
    color: $font-color-theme2;
  }
}
@mixin font_active_color(){
  color: $font-active-color-theme;
  [data-theme=theme1] & {
    color: $font-active-color-theme1;
  }
  [data-theme=theme2] & {
    color: $font-active-color-theme2;
  }
}

@mixin border_color(){
  border-color: $border-color-theme;
  [data-theme=theme1] & {
    border-color: $border-color-theme1;
  }
  [data-theme=theme2] & {
    border-color: $border-color-theme2;
  }
}

@mixin bg_img($url){
  [data-theme=theme] & { // 1× 的简直辣眼睛分辨率嗷
    background-image: url($url + '_163@3x.png');
  }
  [data-theme=theme1] & {
    background-image: url($url + '_qq@3x.png');
  }
  [data-theme=theme2] & {
    background-image: url($url + '_it666@3x.png');
  }
  background-size: cover;
  background-repeat: no-repeat;

  [data-theme=theme][data-dpr='2'] & {
    background-image: url($url + '_163@2x.png');
  }
  [data-theme=theme][data-dpr='3'] & {
    background-image: url($url + '_163@3x.png');
  }
  [data-theme=theme1][data-dpr='2'] & {
    background-image: url($url + '_qq@2x.png');
  }
  [data-theme=theme1][data-dpr='3'] & {
    background-image: url($url + '_qq@3x.png');
  }
  [data-theme=theme2][data-dpr='2'] & {
    background-image: url($url + '_it666@2x.png');
  }
  [data-theme=theme2][data-dpr='3'] & {
    background-image: url($url + '_it666@3x.png');
  }
}

